:root {
    --gray-1: #333;
    --red: red;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

body {
    font-family: 'TT Hoves' sans-serif;
}

.wrapper {
    position: relative;
}

.container {
    max-width: 1170px;
    margin: 0 auto;
}


/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}

/* main all cods */
.nurtow-title {
    color: var(--gray-4, #BDBDBD);
    font-size: 64px;
    font-family: "TT Hoves";
    font-weight: 300;
    line-height: 64px;
}

.title-transporengt {
    color: var(--gray-4, #BDBDBD);
    font-size: 64px;
    font-family: TT Hoves;
    font-weight: 300;
    line-height: 64px;
    text-transform: uppercase;
}

.title-bold {
    color: var(--gray-1, #333);
    font-size: 64px;
    font-family: TT Hoves;
    font-weight: 700;
    line-height: 64px;
}

.digital-bolt__1 {
    color: #333 !important;
    font-size: 24px;
    font-family: TT Hoves;
    line-height: 24px;
}

/* main all cods */

/* Header seris start */

.header-wrap {
    display: flex;
    justify-content: space-between;
    padding: 29px 0 31px 0;
    align-items: center;
}

.header-wrap__log {
    cursor: pointer;
}

.header-wrap__log img {
    width: 90px;
}

.header-items {
    display: flex;
    gap: 50px;
}

.header-link.active {
    border-top: 2px solid #333;
    border-bottom: 2px solid #333;
}

.header-link {
    cursor: pointer;
    color: var(--gray-1);
    font-size: 14px;
    font-family: "TT Hoves";
    line-height: 12px;
    letter-spacing: 2.4px;
    text-transform: uppercase;
    padding: 4px;
    transition: 0.4s;
    border-top: 1px solid transparent;
    border-bottom: 1px solid transparent;
}

.header-link {
    position: relative;
    padding: 5px 0;
    transition: 0.4s;
}

.header-link::before {
    position: absolute;
    content: "";
    top: -8%;
    left: 0;
    width: 0;
    height: 2px;
    background: #333;
    transition: 0.4s;
}

.header-link::after {
    position: absolute;
    content: "";
    bottom: -8%;
    right: 0;
    width: 0;
    height: 2px;
    background: #333;
    transition: 0.4s;
}

.header-link:hover::before {
    width: 100%;
}

.header-link:hover::after {
    width: 100%;
}

.header-nav {
    margin-right: 100px;
}

/* Header seris start */

/* Header burger seris */
.header-lable__bars,
.header-bars__x {
    font-size: 20px;
}

.header-bars__menu {
    font-size: 30px;
}

.header-burger__seris {
    top: 0;
    left: -100%;
    width: 100%;
    height: 100vw;
    position: absolute;
    background: #d8d4d4;
    transition: all 0.5s linear;
    padding: 50px 20px 20px 20px;
}

.header-lable__bars:checked+.header-burger__seris {
    left: 0;
}

.header-bars__item {
    display: flex;
    flex-direction: column;
}

.header-bars__item a {
    color: #333;
}

.header-bars__x {
    position: absolute;
    right: 3%;
}

/* Header burger seris */

/* Main seris start */
.header-bars__menu {
    display: none;
}

.main-wrap {
    display: flex;
}

.main-title__trasnporent {
    color: var(--gray-4, #BDBDBD);
    font-size: 64px;
    font-family: "TT Hoves";
    font-weight: 300;
    line-height: 64px;
    margin-top: 350px;
}

.main-title__bold {
    color: var(--gray-1, #333);
    font-size: 64px;
    font-family: "TT Hoves";
    font-weight: 700;
    line-height: 64px;
}

.main-left__number {
    display: flex;
    gap: 30px;
    align-items: center;
}

.main-wrap__left {
    margin-right: 70px;
}

.line {
    height: 2px;
    width: 43px;
    background-color: #BDBDBD;
    transform: rotate(319deg);
}

.main-left__number span {
    color: var(--gray-4, #BDBDBD);
    font-size: 24px;
    font-family: "TT Hoves";
    line-height: 24px;
}

.main-icons {
    display: flex;
    gap: 22px;
    margin: 90px 0;
}

.main-icon__left {
    width: 17.207px;
    height: 8px;
    flex-shrink: 0;
}

.main-icon__right {
    width: 17.207px;
    height: 8px;
    flex-shrink: 0;
}

.main-icon__1 {
    width: 53px;
    height: 53px;
    flex-shrink: 0;
    border: 1px solid #F2F2F2;
    background: #FFF;
    text-align: center;
    line-height: 53px;
    cursor: pointer;
    transition: 0.3s;
}

.main-icon__2 {
    width: 53px;
    height: 53px;
    flex-shrink: 0;
    border: 1px solid #F2F2F2;
    text-align: center;
    line-height: 53px;
    cursor: pointer;
    transition: 0.3s;
}

.main-icon__1:hover {
    transform: scale(1.1);
    background: #F9F9F9;
}

.main-icon__2:hover {
    transform: scale(1.1);
    background: #F9F9F9;
}

/* Main seris end */

/* Comanda seris start */
#comadna {
    max-width: 100%;
    height: 435px;
    flex-shrink: 0;
    background: var(--1, #FBFBFB);
    margin-top: 120px;
}

.comadnda-wrap {
    display: flex;
    gap: 30px;
    justify-content: center;
}

.comanda-wrap__left {
    display: flex;
    gap: 30px;
}

.comanda-imges {
    flex-direction: column;
    display: flex;
    gap: 30px;
    margin-top: 30px;
}

.comanda-img__one {
    margin-top: 60px;
}

.comanda-right__info {
    margin-top: 27px;
}

.comadnda-info__text {
    max-width: 380px;
    height: 200px;
    color: #000;
    font-size: 16px;
    font-family: "TT Hoves";
    font-weight: 300;
    line-height: 25px;
    margin: 20px 0;
}

.comadna-info__link {
    display: flex;
    align-items: center;
    gap: 12px;
    justify-content: center;
    width: 222px;
    height: 71px;
    flex-shrink: 0;
    background: #FFF;
    cursor: pointer;
    transition: 0.4s;
    border: solid 1px #fff;
}

.comadna-info__link a {
    color: var(--gray-1, #333);
    font-size: 12px;
    font-family: "TT Hoves";
    line-height: 12px;
    letter-spacing: 2.4px;
    text-transform: uppercase;
}

.comadna-info__link:hover {
    transform: scale(1.1);
    background: #f0f0f0;
    color: #FFF;
    border: solid 1px #fff;
}


/* Comanda seris end */

/* Goals seris start */
#goals {
    margin-top: 140px;
}

.goals-wrap__numbers {
    display: flex;
    gap: 187px;
    align-items: center;
    margin-top: 20px;
}

.goals-wrap__left {
    display: flex;
    align-items: center;
    gap: 10px;
}

.goals-wrap__right {
    display: flex;
    gap: 40px;
    align-items: center;
}

.goals-number {
    max-width: 104px;
    color: var(--gray-6, #F2F2F2);
    font-size: 200px;
    font-family: "SF Pro Display";
    font-weight: 900;
}

.goals-text__1 {
    width: 279px;
    color: var(--gray-1, #333);
    font-size: 22px;
    font-family: TT Hoves;
    line-height: 36px;
}

.goals-text__2 {
    width: 420px;
    color: var(--gray-1, #333);
    font-size: 22px;
    font-family: 'TT Hoves';
    line-height: 36px;
}

/* Goals seris end */

/* Project seris start */
#project {
    margin-top: 120px;
}

.project-wrap__title {
    margin-bottom: 60px;
}

.project-card__top {
    display: flex;
    gap: 30px;
}

.project-image__cards {
    position: relative;
}

.project-image__1 {
    position: relative;
    overflow: hidden;
    cursor: pointer;
    transition: 0.4s;
}

.project-image__info {
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%, 100%);
    transition: 0.5s;
}

.project-image__1::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: transparent;
}

.project-image__1:hover::before {
    background-color: rgba(21, 21, 21, 0.5);
    transition: 0.4s;
    height: 99%;
}

.project-image__1:hover .project-image__info {
    top: 50%;
    transform: translate(-50%, -50%);
}

.project-card__bottom {
    display: flex;
    gap: 30px;
    margin-top: 30px;
}

.project-image__3 {
    position: relative;
    overflow: hidden;
    transition: 0.5s;

}

.project-card-info {
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%, 100%);
    transition: 0.5s;
}

.project-image__3::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: transparent;
    transition: 0.5s;
    height: 99%;
}

.project-image__3:hover .project-card-info {
    top: 30%;
    transform: translate(-50%, -30%);
}

.project-image__3:hover::before {
    background-color: rgba(21, 21, 21, 0.5);
}

.project-info__title,
.project-bottom__title {
    color: #FFF;
    font-size: 64px;
    font-family: "TT Hoves";
    font-weight: 700;
    line-height: 64px;
}

.project-info__btn {
    margin-top: 14px;
}

.project-info__btn a {
    color: #FFF;
    font-size: 12px;
    font-family: "Gothic A1";
    line-height: 12px;
    letter-spacing: 2.4px;
    text-transform: uppercase;
    padding-right: 12px;
}

.project-button {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 222px;
    height: 71px;
    background: #333;
    position: absolute;
    margin-top: 30px;
    cursor: pointer;
    right: 0;
    transition: 0.5s;
}

.project-button:hover {
    background: #fff;
    border: 1px solid #333;
}

.project-button a {
    color: #FFF;
    font-size: 12px;
    font-family: "TT Hoves";
    line-height: 12px;
    letter-spacing: 2.4px;
    text-transform: uppercase;
    padding-right: 12px;
    transition: 0.5s;
}

.project-button:hover a {
    color: #333;
    font-size: 12px;
    font-family: "TT Hoves";
    line-height: 12px;
    letter-spacing: 2.4px;
    text-transform: uppercase;
}

.project-svg {
    color: #fff;
}

.project-button:hover .project-svg {
    color: #333;
}

/* Project seris end */

/* Contact US seris start */
#contact {
    margin-top: 250px;
}

.contact-warp__info {
    display: flex;
    gap: 30px;
    margin-top: 22px;
}

.contact-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.contact-form input {
    width: 391px;
    height: 46px;
    background: #F3F3F3;
    border: none;
    padding-left: 20px;
    outline: none;
}

.contact-form textarea {
    width: 391px;
    height: 147px;
    background: #F3F3F3;
    border: none;
    padding: 14px 20px;
    outline: none;
}

.contact-warp__image img {
    width: 749px;
    height: 421px;
}

.contact-button__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 222px;
    height: 71px;
    background: #333;
    position: absolute;
    margin-top: 30px;
    cursor: pointer;
    transition: 0.5s;

}

.contact-button__btn:hover {
    background: #fff;
    border: 1px solid #333;
}

.contact-button__btn a {
    color: #FFF;
    font-size: 12px;
    font-family: "TT Hoves";
    line-height: 12px;
    letter-spacing: 2.4px;
    text-transform: uppercase;
    padding-right: 12px;
    transition: 0.5s;
}

.contact-button__btn:hover a {
    color: #333;
    font-size: 12px;
    font-family: "TT Hoves";
    line-height: 12px;
    letter-spacing: 2.4px;
    text-transform: uppercase;
}

.project-svg {
    color: #fff;
}

.contact-button__btn:hover .project-svg {
    color: #333;
}

.contact-wrap__button {
    margin-top: 22px;
}

.contact-for {
    display: flex;
    gap: 16px;
}

.checkbox {
    width: 24px;
    height: 24px;
    border: solid 1px #F3F3F3;
    display: block;
    display: grid;
    place-content: center;
    font-size: 18px;
    cursor: pointer;
}

.checkbox i {
    opacity: 0;
}

#terms:checked+.checkbox i {
    opacity: 1;
}

#terms:checked+.checkbox {
    background: #f3f3f3;
}

.contact-button__text {
    max-width: 400px;
    color: #333;
    font-size: 14px;
    font-family: TT Hoves;
    letter-spacing: 0.42px;
}

/* Contact US seris end */

/* gallerya seris start */
#gallerya {
    margin-top: 60px;
}

.gallery-top__img {
    position: relative;
    overflow: hidden;
    width: fit-content;
}

.gallery-top__img:hover .gallery-img__info {
    bottom: 0;
}

.gallery-top__img:hover img {
    top: -25%;
}

.gallery-top__img img {
    width: 210px;
    height: 260px;
    transition: 0.4s;
}

.gallery-img__info {
    position: absolute;
    max-width: 210px;
    height: 120px;
    background: var(--1, #FBFBFB);
    bottom: -44%;
    transition: 0.4s;
    overflow: hidden;
}

.gallery-info__text {
    color: var(--gray-1, #333);
    font-size: 14px;
    font-family: TT Hoves;
    line-height: 18px;
    text-align: start;
    padding: 20px 20px 60px 20px;
}

.gallery-card__top {
    display: flex;
    gap: 30px;
}

.gallery-herft {
    opacity: 0.2;
    margin: 30px 0;
}

.gallery-card__bottom {
    display: flex;
    gap: 30px;
    margin-top: 30px;
}

.gallery-bottom__img {
    position: relative;
    overflow: hidden;
    width: fit-content;
}

.gallery-bottom__img:hover .gallery-img__info {
    bottom: 0;
}

.gallery-bottom__img:hover img {
    top: -25%;
}

.gallery-top__img img {
    width: 210px;
    height: 260px;
    transition: 0.4s;
}

.gallery-img__info {
    position: absolute;
    max-width: 210px;
    height: 120px;
    background: var(--1, #FBFBFB);
    bottom: -44%;
    transition: 0.4s;
    overflow: hidden;
}

.gallery-info__text {
    color: var(--gray-1, #333);
    font-size: 14px;
    font-family: TT Hoves;
    line-height: 18px;
    text-align: start;
    padding: 20px 20px 60px 20px;
}

.gallery-wrap__swper {
    display: flex;
    gap: 25px;
    align-items: center;
    margin-top: 60px;

}

.gallery-title__trasnporent {
    color: var(--gray-4, #BDBDBD);
    font-size: 64px;
    font-family: "TT Hoves";
    font-weight: 300;
    line-height: 64px;
    margin-top: 350px;
}

.gallery-title__bold {
    color: var(--gray-1, #333);
    font-size: 64px;
    font-family: "TT Hoves";
    font-weight: 700;
    line-height: 64px;
}

.gallery-left__number {
    display: flex;
    gap: 30px;
    align-items: center;
}

.gallery-wrap__left {
    margin-right: 70px;
}

.gallery-icons {
    display: flex;
    gap: 22px;
}

.line {
    height: 2px;
    width: 43px;
    background-color: #BDBDBD;
    transform: rotate(319deg);
}

.gallery-left__number span {
    color: var(--gray-4, #BDBDBD);
    font-size: 24px;
    font-family: "TT Hoves";
    line-height: 24px;
}

.gallery-icon__1 {
    width: 53px;
    height: 53px;
    flex-shrink: 0;
    border: 1px solid #F2F2F2;
    text-align: center;
    line-height: 53px;
    cursor: pointer;
    transition: 0.3s;
}

.gallery-icon__2 {
    width: 53px;
    height: 53px;
    flex-shrink: 0;
    border: 1px solid #F2F2F2;
    text-align: center;
    line-height: 53px;
    cursor: pointer;
    transition: 0.3s;
}

.gallery-icon__1:hover {
    transform: scale(1.1);
    background: #F9F9F9;
}

.gallery-icon__2:hover {
    transform: scale(1.1);
    background: #F9F9F9;
}

/* gallerya seris end */


/* Projects seris start */
.projects-wrap__cards {
    display: flex;
    flex-direction: column;
    gap: 60px;
}

.projects-wrap__title {
    margin-top: 90px;
}

.projects-href {
    opacity: 0.2;
    margin: 30px 0;
}

.projects-card__top {
    max-width: 1170px;
    background: var(--1, #FBFBFB);
    display: flex;
    gap: 30px;
    overflow: hidden;
}

.projects-info__title {
    color: var(--gray-4, #BDBDBD);
    font-size: 40px;
    font-family: TT Hoves;
    font-weight: 300;
}

.projects-info__text {
    color: #000;
    font-size: 16px;
    font-family: TT Hoves;
    font-weight: 300;
    line-height: 25px;
    max-width: 400px;
    margin: 20px 0 40px 0;
}

.projects-wrap__left {
    display: flex;
    gap: 30px;
}

.projects-right__info {
    margin-top: 27px;
}

.projects-info__link {
    display: flex;
    align-items: center;
    gap: 12px;
    justify-content: center;
    width: 222px;
    height: 71px;
    flex-shrink: 0;
    background: #FFF;
    cursor: pointer;
    transition: 0.4s;
    border: solid 1px #fff;
}

.projects-info__link span {
    color: var(--gray-1, #333);
    font-size: 12px;
    font-family: "TT Hoves";
    line-height: 12px;
    letter-spacing: 2.4px;
    text-transform: uppercase;
}

.projects-info__link:hover {
    transform: scale(1.1);
    background: #f0f0f0;
    color: #FFF;
    border: solid 1px #fff;
}

/* Projects seris start */

/* PARKING seris start */
.parking-wrap {
    margin-top: 90px;
}

.praking-hreft {
    opacity: 0.2;
    margin: 30px 0;
}

.parking-img__info {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.parking-text__mid {
    display: flex;
    align-items: center;
    gap: 30px;
}

.parking-mid__img img {
    width: 419px;
    height: 428px;
}

.parking-mid__text p {
    display: flex;
    max-width: 721px;
    height: 428px;
    color: #000;
    font-size: 16px;
    font-family: TT Hoves;
    font-weight: 300;
    line-height: 25px;
}

/* PARKING seris end */

/* Certificat seris start */
.certificat-wrap {
    margin-top: 90px;
}

.certificat-warp__list {
    display: flex;
    gap: 78px;
}

.certificat-wrap__swper {
    display: flex;
    justify-content: end;
    gap: 25px;
    margin-top: 50px;
}

/* Certificat seris end */

/* Information seris start */

.information-wrap {
    display: flex;
}

.information-wrap__right {
    position: relative;
    display: flex;
    justify-content: end;
    transform: translateX(50px);
}

.information-map {
    position: absolute;
    top: 40%;
    left: 60%;
    z-index: 10;
}

.information-wrap__right iframe {
    max-width: 100%;
    height: 501px;
}

.certificat-wrap__title {
    margin-bottom: 50px;
}

.information-wrap__left {
    display: flex;
    flex-direction: column;
    margin-top: 55px;
}

.information-left__info {
    display: flex;
    flex-direction: column;
    margin: 35px 0 45px 0;
}

.information-info__bold {
    color: #333;
    font-size: 18px;
    font-family: TT Hoves;
    font-weight: 700;
}

.information-info__trasp {
    color: #333;
    font-size: 16px;
    font-family: TT Hoves;
    font-weight: 300;
}

.information-info__email {
    color: #333;
    font-size: 16px;
    font-family: TT Hoves;
    font-weight: 300;
    margin-top: 52px;
}

.information-btn {
    width: 222px;
    height: 71px;
    background: var(--gray-1, #333);
    color: #FFF;
    font-size: 12px;
    font-family: TT Hoves;
    line-height: 12px;
    letter-spacing: 2.4px;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.4s;
    margin-top: 32px;
    cursor: pointer;
}

/* Information seris start */

/* Footer seris start */
#footer {
    max-width: 100%;
    height: 417px;
    background: #2C2C2C;
    margin-top: 120px;
}

.footer-wrap {
    display: flex;
    padding: 60px 0;
}

.footer-them__title {
    color: #FFF;
    font-size: 16px;
    font-family: TT Hoves;
    font-weight: 700;
}

.footer-wrap__log {
    margin-right: 100px;
}

.footer-info__nav {
    margin: 25px 150px 0 0;
}

.footer-items {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.footer-link {
    color: #FFF;
    font-size: 14px;
    font-family: "TT Hoves";
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.42px;
    transition: 0.3s;
}

.footer-link:hover {
    color: #c1bcbc;
}

.footer-location__info {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    text-align: start;
    gap: 32px;
}

.footer-text {
    margin-bottom: 15px;
}

.footer-wrap__contact {
    display: flex;
    flex-direction: column;
    gap: 32px;
    align-items: start;
    justify-content: start;
    text-align: start;
}

.footer-contact__icon {
    color: #FFF;
    font-size: 14px;
    font-family: "TT Hoves";
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.42px;
    max-width: 114px;
    margin-left: 15px;
}

.footer-text {
    display: block;
    margin-left: 29px;
}

.footer-wrap__net {
    margin-left: 150px;
}

.footer-net__icons {
    cursor: pointer;
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 40px;
    margin-top: 25px;
}

.footer-net__icons a img {
    transition: 0.4s;
    width: 30px;
    height: 30px;
    padding: 5px;
}

.footer-net__icons a img:hover {
    transform: scale(1.1);
    transform: rotate(720deg);
}

.herf {
    opacity: 0.2;
}

.footer-end {
    color: rgba(200, 200, 200, 0.50);
    font-size: 12px;
    font-family: Open Sans;
    line-height: 22px;
    display: flex;
    justify-content: center;
    margin-top: 25px;
}

/* Footer seris end */


/* Modal-1 seris start */
#modal-1:checked+.modal-1 {
    opacity: 1;
    pointer-events: auto;
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    pointer-events: none;
    transition: 0.4s;
}

.modal-1 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.37);
}

.modal-content {
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    width: 500px;
    border: 1px solid black;
}

.modal-warp__header {
    position: relative;
    display: flex;
    justify-content: center;
    padding: 20px 0;
}

.modal-warp__header h1 {
    color: #333;
    font-size: 21px;
    font-family: "TT Hoves";
    font-weight: 700;
    letter-spacing: 0.84px;
}

.modal-close {
    cursor: pointer;
    position: absolute;
    right: 0;
    top: -40px;
}

.modal-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}

.modal-form input {
    width: 391px;
    height: 46px;
    background: #F3F3F3;
    border: none;
    padding-left: 20px;
    outline: none;
}

.terms-chekbox {
    opacity: 0;
    cursor: pointer;
    border: 1px solid #f3f3f3;
    background: #f5f5f5;
    width: 24px;
    height: 23.289px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.4s;
}

#termss:checked+.terms-chekbox {
    opacity: 1;
}

.modal-form textarea {
    width: 391px;
    height: 147px;
    background: #F3F3F3;
    border: none;
    padding: 14px 20px;
    outline: none;
}

.modal-wrap__button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.modal-btn {
    width: 391px;
    height: 42px;
    background: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 28px;
    transition: 0.4s;
    cursor: pointer;
    color: #FFF;
    font-size: 12px;
    font-family: "TT Hoves";
    line-height: 12px;
    letter-spacing: 2.4px;
    text-transform: uppercase;
}

.modal-for {
    display: flex;
    gap: 16px;
    margin: 20px 0 20px 37px;
}

.modal-button__text {
    max-width: 400px;
    color: #333;
    font-size: 14px;
    font-family: TT Hoves;
    letter-spacing: 0.42px;
}

/* Modal-1 seris end */

/* Modal-2 seris srtar */

#modal-2:checked+.modal-2 {
    opacity: 1;
    pointer-events: auto;
}

.modall {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    transition: 0.4s;
    pointer-events: none;
}

.modal-content-2 {
    position: relative;
    width: 516px;
    height: 421px;
    background: #FFF;
    border: solid 1px rgb(3, 3, 3);
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 0 auto;
}

.modal-header {
    margin-top: 45px;
}

.modal-header img {
    position: absolute;
    top: 0;
    right: 0%;
    padding: 20px;
}

.modal-end__img {
    width: 126px;
    height: 126px;
    margin: 0 auto;
}

.modal-end-sps {
    color: #333;
    font-size: 24px;
    font-family: "TT Hoves";
    font-weight: 700;
    line-height: 26px;
    letter-spacing: 0.72px;
    margin: 25px 0;
}

.modal-end__text {
    width: 426px;
    margin: 0 auto;
    color: #4F4F4F;
    font-size: 14px;
    font-family: "TT Hoves";
    font-weight: 600;
    line-height: 26px;
    letter-spacing: 0.42px;
}

.modal-end__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 391px;
    height: 42px;
    color: #FFF;
    font-size: 12px;
    font-family: "TT Hoves";
    line-height: 12px;
    letter-spacing: 2.4px;
    text-transform: uppercase;
    background: #333;
    margin: 40px 60px 24px 60px;
    transition: 0.4s;
}

/* Modal-2 seris end */


/* @@ Medya @@ */
@media (max-width:1200px) {
    .wrapper {
        padding-right: 10px;
        padding-left: 10px;
    }

    .header-nav {
        margin-right: 10px;
    }
}

@media (max-width:1024px) {
    .header-nav {
        display: none;
    }

    .header-bars__menu {
        display: block;
    }
}